{{ $data := dict }}
{{ $path := .Get "script" }}
{{ with .Page.Resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get page resource %q" $path }}
{{ end }}
<table class="slack">
  {{ if .Get "channel"}}<th colspan="2" class="slack-channel"><span class="slack-channel-hash">#</span>{{ .Get "channel"}}</th>{{end}}
  {{ range $data }}
  <tr class="slack-message">
    <td class="slack-left-gutter">
      <span class="slack-avatar">
        <div>
            <img src="{{ .avatar }}" class="slack-avatar">
        </div>
      </span>
    </td>
    <td class="slack-right-gutter">
      <div class="slack-meta">
        <span class="slack-sender">{{ .name }}</span>&nbsp;&nbsp;<span class="slack-timestamp">{{ .timestamp }}</span>
      </div>
      <div class="slack-text">
        {{ range .messages }}
        <p>{{ . | markdownify | replaceRE `<a href="[@|#]">([@|#][^<]+)</a>` "<span class=\"slack-link\">$1</span>" | safeHTML }}</p>
        {{ end }}
      </div>
    </td>
  </tr>
{{ end }}
</table>
